<div class="container">
  <div class="row">
<h1>Entries</h1>
  <table class="table text-center">
    <tr class="table-active">
      <th>Event</th>
      <th>Date</th>
      <th>Price</th>
      <th>amounts</th>
      <th>Subtotal</th>
    </tr>
    <tbody>
    <% @events.each do |event| %>
      <tr>
        <td>
          <%= link_to event_path(event.id) do %>
            <%= event.name %>
          <% end %>
        </td>
        <td><%= event.date %></td>
        <td><%= event.with_tax_price %></td>
        <!--<td>-->
        <!--  <#%= event.entry.amount %>-->
        <!--</td>-->
        <!--<td>-->
        <!--  <#%= event.entry.subtotal %>-->
        <!--</td>-->
      </tr>
      <!--<#% @sum += event.entry.subtotal %>-->
    <% end %>
    </tbody>
  </table>
  </div>
  </div>
  
  
  