<h1>Event</h1>

<div>
  <p><%= @event.name %></p>
  <%= image_tag @event.get_image %>
  
  <p>Price:<%= @event.price %></p>
  <p><%= @event.detail %></p>
  
  <!--編集。削除-->
  <!--  <#%= link_to "Edit", edit_event_path(@event.id) %>-->

  <!--  <#%= link_to "Destroy", event_path(@event.id), method: :delete, "data-confirm" =>"Are you OK?" %>-->
 
</div>