<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h4>PETTERSでは、</h4>
          飼い主の皆さんが大切なペットの写真を共有し、他の飼い主とつながることができます。
          <br>
          ペットのかわいらしい姿や楽しいエピソードを投稿し、交流しましょう。
          <br>
          当アプリでは、ペット投稿ページを通じて写真や動画を簡単に投稿することができます。
          <br>
          飼い主同士で思い出を共有したり、かわいらしい瞬間を共有しましょう。
          <br>
          さらに、他の飼い主とコメントやいいねを交換し、ペットに関する情報やアドバイスを共有することもできます。
          <br>
          また、当アプリにはイベント紹介ページもあります。
          <br>
          ペット同伴で楽しめるイベント情報を提供し、参加申込も簡単に行うことができます。
          <br>
          ペットと一緒に新しい友達を作ったり、共通の趣味を持つ人々とつながったりする絶好の機会です。
          <br>
          当アプリを通じて、ペット愛好家のコミュニティに参加し、ペットとの素晴らしい時間を共有しましょう！
          <br>
          一緒に楽しく交流し、愛しいペットたちの魅力を広めていきましょう！
          <br>
        </div>
      </div>
    </div>
  </div>
</div>