@use '~bootstrap/scss/bootstrap';
// @import "simple_calendar";

.navbar .nav-item a,
.navbar .navbar-brand 
{
   color: white !important;
}

.navbar .nav-item a:hover 
{
   color: rgba(255, 255, 255, 0.8) !important;
}

.toplink a,
.toplink,
{
  color: white !important;
}
