@use '~bootstrap/scss/bootstrap';
// @import "simple_calendar";

.navbar .nav-item a,
.navbar .navbar-brand 
{
   color: white !important;
}

.navbar .nav-item a:hover 
{
   color: rgba(255, 255, 255, 0.8) !important;
}

.toplink a,
.toplink,
{
  color: white !important;
}

.card-eq-height {
display: flex;
flex-wrap: wrap;
}


.fc-day-sat {
  .fc-daygrid-day-top, .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion, .fc-list-day-cushion {
    color: blue;
  }
}

.fc-day-sun {
  .fc-daygrid-day-top, .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion, .fc-list-day-cushion {
    color: red;
  }
}