<%= flash[:notice] %>
<div class="container">
  <div class="col col-8 mt-5">
<h1>Thank you!!</h1>
</div>
<div class="col col-8 mt-10">
<h3>
  参加申込ありがとうございます。<br>
  当日はお気をつけてお越しくださいませ。
</h3>
</div>
<div class="col col-8 m-5">
<%= link_to 'Order List', order_detail_path, class: 'btn btn-block btn-secondary' %>
</div>
</div>
</div>